<section class="container-fluid">
  <div class="list-group">
    <a style="text-decoration: none" [routerLink]="['/app/movie', movie.id]"
       class="list-group-item"
       *ngFor="let movie of currentMovies">
      <h5>{{movie.title}}</h5>
      <p style="margin: 0; padding: 0;" class="font-weight-lighter" >{{movie
        .directing}}</p>
      <p style="margin: 0; padding: 0;">{{movie.genre}}</p>
      <p style="margin: 0; padding: 0;">{{movie.productionYear}}</p>
    </a>
  </div>
</section>
