<section class="container-fluid">
  <h2>Screenings</h2>
  <div class="list-group" style="padding: 10%;">

    <div style="text-decoration: none" class="list-group-item"
       *ngFor="let movie of currentMovies">
      <div class="row">
        <a [routerLink]="['/app/movie', movie.entityId]" data-toggle="tooltip"
           title="Click to show movie details" class="col-md-12"><h3>{{movie
          .title}}</h3>
        </a>
      </div>
      <div class="row">
        <div class="col-md-4"><img [src]="movie.image" style="width:100px"/>
        </div>
        <div class="col-md-8">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6"><p style="margin: 0; padding: 0;"
                                       class="font-weight-lighter" >{{movie
                .directing}}</p>
              </div>
              <div class="col-md-6"><p style="margin: 0; padding: 0;">{{movie.genresStr}}</p>
                <p style="margin: 0; padding: 0;">{{movie.productionYear}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">{{movie.shortDescription}}</div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <p style="margin-left:15px">Available screenings</p>
        <div class="col-md-2 d-inline" *ngFor="let screening of movie.screenings">
          <button type="button" [routerLink]="['/app/screening', screening.entityId]"
                  data-toggle="tooltip" title="Click to buy a ticket"
                  class="btn btn-outline-info btn-sm d-inline" >{{screening.screeningDate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
